<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Beállitások">
		<setting label="Megjelenitett kategóriák" type="lsep" />
		<setting label="Legújabb filmek és sorozatok" id="categories.latest" type="bool" visible="true" default="true" />
		<setting label="Top fimek" id="categories.top" type="bool" visible="true" default="true" />
		<setting label="A héten népszerű" id="categories.trending" type="bool" visible="true" default="true" />
		<setting label="Akció filmek" id="categories.1" type="bool" visible="true" default="true" />
		<setting label="Animációs filmek" id="categories.2" type="bool" visible="true" default="true" />
		<setting label="Bűnügyi filmek" id="categories.3" type="bool" visible="true" default="true" />
		<setting label="Családi filmek" id="categories.4" type="bool" visible="true" default="true" />
		<setting label="Dráma filmek" id="categories.5" type="bool" visible="true" default="true" />
		<setting label="Dokumentum filmek" id="categories.6" type="bool" visible="true" default="true" />
		<setting label="Háborús filmek" id="categories.7" type="bool" visible="true" default="true" />
		<setting label="Sci-Fi filmek" id="categories.8" type="bool" visible="true" default="true" />
		<setting label="Horror filmek" id="categories.9" type="bool" visible="true" default="true" />
		<setting label="Krimi & Rejtély filmek" id="categories.10" type="bool" visible="true" default="true" />
		<setting label="Vígjáték filmek" id="categories.11" type="bool" visible="true" default="true" />
		<setting label="Zenés filmek" id="categories.12" type="bool" visible="true" default="true" />
		<setting label="Romantikus filmek" id="categories.13" type="bool" visible="true" default="true" />
		<setting label="Western filmek" id="categories.14" type="bool" visible="true" default="true" />
		<setting label="Zenés filmek" id="categories.15" type="bool" visible="true" default="true" />
		<setting label="Sorozat" id="categories.16" type="bool" visible="true" default="true" />
		<setting label="Játék film" id="categories.17" type="bool" visible="true" default="true" />
		<setting label="Erotika" id="categories.18" type="bool" visible="true" default="true" />

		<setting type="text" id="hash" visible="false" default="false" />
		<setting type="text" id="phpsessid" visible="false" default="" />
	</category>
</settings>